* {
    font-family: Verdana;
    color: #000000;
}

body {
    background-color: #51CA9F;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-row-gap: 3vh;
    grid-template-columns: 15vw 70vw 15vw;
}



h1 {
    font-size: 3em;
    float:left;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

td, th {
    border: solid black 1pt;
}

#logoImage {
    height: 12em;
    width: 12em;
    grid-column-start: 1;
    grid-row-start: 2;
}

#navBar {
    margin-bottom: 1vh;
    width: 99.5vw;
    height: 5vh;
    background-color: #FFFFFF;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    justify-content:space-between;
    
}

#adminUserName {
    float: left;
    align-content: center;
    margin-left: 1em;
}

#header {
    margin-bottom: 3vh;
    height: 15vh;
    grid-column-start: 2;
    grid-row-start: 2;
    align-content: center;
}

#mainContent {
    margin-bottom: 3vh;
    width: 99.5vw;
    height: fit-content;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;
}

footer {    
    width: 99.5vw;
    height: 10vh;
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 3;

}

#adminLogin {
    align-self:center;
    width: 18vw;
    text-align: center;
}

#shoppingBasketLink {
    height: 12em;
    width: 12em;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
}

#shoppingBasket {
    height: 12em;
    width: 12em;
    align-self: center;
}

#productCategories {
    height: fit-content;
    width: fit-content;
    padding-top: 1em;
    padding-bottom: 3em;
    margin: 2em;
    background-color: #97DEC9;
}

#productAccordion {
    height: fit-content;
    width: 95vw;
    background-color: #FFFFFF;
}

.products {
    width: fit-content;
    height:fit-content;
    margin:1em;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.productSpan {
    width: 15em;
    height: 17em;
    padding: 1em;
    display: inline-block;
    align-content: space-between;
    background-color: #BDE3FF;
    margin: 0.3em;
}

.productImage {
    height: 10em;
    width: 15em;
}

.productDetails {    
    width: 15em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.uiButton {
    width: 15em;
    height: 3em;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 1em;
}

.uiBasketButton {
    width: 7em;
    height: 3em;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.75em;
    margin-top: 1em;
}

.modalOuter {
    width: 20vw;
    height: 30vw;
    padding: 1em;
    display: inline-block;
}

.productImageModal {
    width: 21em;
    height: 12em;
    margin-top: 1em;
}

.modalInner {
    width: fit-content;
    height: fit-content;
    min-height: 30vh;
    display: inline-block;
}


.basketItems {
    overscroll-behavior-x: auto;
}

.basketTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#orderBreakdown {
    height: fit-content;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    margin: 2em;
    background-color: #97DEC9;
    min-width: 94vw;
}

#customerDetails {
    height: fit-content;
    width: fit-content;
    padding: 3em 1em 3em 1em;
    margin: 2em;
    background-color: #97DEC9;
    display: inline-block;
    min-width: 94vw;
}

#customerActions {
    height: fit-content;
    width: fit-content;
    padding: 3em;
    margin: 1em 1em 1em 16%;
    background-color: #97DEC9;
    display: flex;
    min-width: 60vw;
    flex-direction: row;
    justify-content: space-between;
}
    
#orderItems {
    height: fit-content;
    width: 90vw;
    padding: 2em;
    background-color: #FFFFFF;
    display: inline-block;
    max-width: 91vw;
}

#orderTotalLabels {
    display:flex;
}

#invalidDetails {
    color:#FF0000;
}

.inputAreas {
    float:right;

}

    .inputAreas > input {
        width: 80em;
        height: 2em;
    }

#customerNameInput {
    margin: 1em 0 1em 0;
}

#address1Input {
    margin-top: 1em;
}

#postcodeInput {
    margin-bottom: 1em;
}

#phoneInput {
    margin-top: 1em;
}

#invoiceDetails {
    height: fit-content;
    width: 90vw;
    padding: 3em;
    background-color: #97DEC9;
    display: inline-block;
    margin: 3em;
}

#invoiceNumberLabels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#invoiceNumber {
    margin-left: 2em;
}

#fullName {
    margin-left: 5em;
}

.customerDetailsInvLabel {
    margin-left: 8em;
}

#orderBreakdownTable {
    background-color: white;
    border: solid black 2pt;
    width: 85vw;
    margin: 3em;
}

#orderTotals {
    display: flex;
    justify-content: flex-end;
}

#orderTotal {
    margin-left: 2em;
}

#customerActionsInv {
    height: fit-content;
    width: 40vw;
    padding: 3em;
    background-color: #97DEC9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
}

#userDetails {
    height: 50vh;
    width: 80vw;
    padding: 3em;
    display: flex;
    background-color: #97DEC9;
    align-content: space-around;
    margin-left: 6vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#userActions {
    height: fit-content;
    width: 20vw;
    padding: 3em;
    background-color: #97DEC9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
}

.inputAreasLogin {
    float: right;
}

    .inputAreasLogin > input {
        width: 60em;
        height: 2em;
    }

    #txtPassword {
        margin-left: 0.3em;
    }

#userDetailsForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

#loginFailMessage,#minBasketWarning{
    color:#FF0000;
}

#adminTabs {
    height: 4em;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1em;
}

#ordersLink {
    color: #0D99FF;
}

#stockLink {
    color: #0D99FF;
}


#ordersTable {
    background-color: white;
    border: solid black 2pt;
    width: 85vw;
    margin: 2em;
}

#orderDetailDiv {
    height: fit-content;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    margin: 2em;
    background-color: #97DEC9;
    min-width: 94vw;
}

#orderDetail {
    background-color: white;
    width: 85vw;
    margin: 2em;
    height: fit-content;
    padding: 1em;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
}

#orderNumberSpan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

#orderDetailNumber {
    margin: 0 0 0 1em;
}

#customerDetailsDiv {
    display: inline-block;
    justify-self: right;
}

#customerDetailsDiv > p {
    text-align:end;
}

#orderDetailsTableDiv {
    margin: 1em;
}

#orderDetailTable {
    min-width: 50vw;
}

#orderTotalSpan {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: end;

}

#orderDetailTotal {
    margin: 0 0 0 1em;
    
}

#stockBreakdown {
    height: fit-content;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    margin: 2em;
    background-color: #97DEC9;
    min-width: 94vw;
}

#stockTable {
    background-color: white;
    border: solid black 2pt;
    width: 85vw;
    margin: 2em;
}

#stockTableDiv {
    height: fit-content;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    margin: 2em;
    background-color: #97DEC9;
    min-width: 94vw;
}

.basketItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E6E6E6;
    padding: 1em;    
    margin-bottom: 1em;
}

.basketProductName {
    min-width: 18em;
}

.quantitySelector {
    width: 2.5em;
    text-align: center;
}

.basketItemTotal {
    display: flex;
    height: fit-content;
}

.hidden {
    display: none;
}

.loginLabel {
    margin: 5em;
}

#passwordLabel{
    margin-right: 5.4em;
}

/*CSS Accordion Code (Next 25 lines) taken from: (w3schools, no date a)*/
.accordion {
    background-color: #FFFFFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-top: solid black 2pt;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #FFFFFF;
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
/*****************************************************************/

/*CSS Modal Code (Next 40 lines) taken from: (w3schools, no date b)*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-product {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30vw;
    height: fit-content;
    min-height: 75vh;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/*****************************************************************/
